<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet' />
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer'/>
      <link rel='stylesheet' href='/styles/app.css' />
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.rtl.min.css' integrity='sha512-TVEh7Wv2VL7denA2jjLclu/YHda8TiwmLZBhUqmJa+PVhIgbOs4mkx4nGQw+ok1f+3tf/NpbVDIuPKIHcSyEhw==' crossorigin='anonymous' referrerpolicy='no-referrer' />
</head>
<body>
      <section class="edit">
            <div class="edit__container">
                  <div class="edit__form">
                        {{#with course}}      
                        <form action="#!" id="update">
                              <div class="edit__row">
                                    <div class="edit__left">
                                          <div class="form-group">
                                                <label for="">Tên khóa học:</label>
                                                <input class="form-control" name="name" value="{{name}}" placeholder="Tên khóa học ..." type="text">
                                          </div>
                                           <div class="form-group">
                                                <label for="">Mô tả:</label>
                                                <textarea class="form-control" name="desc" placeholder="Mô tả khóa học ...">{{details.desc}}</textarea>
                                          </div>
                                          <div class="form-group">
                                                <label for="level">Chọn khóa học:</label>
                                                <select class="form-control" name="chooseCourse" id="level">
                                                      <option value="false">Miễn phí</option>
                                                      <option value="true">Tính phí</option>
                                                </select>
                                          </div>
                                          <div class="form-group">
                                                <label for="">Giá khóa học:</label>
                                                <div class="form__row">
                                                      <input class="form-control" name="priceOld" type="text" placeholder="Giá cũ">
                                                      <input class="form-control" name="priceMain" type="text" placeholder="Giảm giá">
                                                </div>
                                          </div>
                                         
                                    </div>
                                    <div class="edit__right">
                                          <div class="form-group">
                                                <label for="level"></label>
                                                <select name="select" id="level">
                                                      <option value="Trình độ cơ bản">Trình độ cơ bản</option>
                                                      <option value="Trình độ Trung bình">Trình độ Trung bình</option>
                                                </select>
                                          </div>
                                          <div class="form-group">
                                                <div class="form__image">
                                                      <div class="form__image-area">
                                                            <i class="ri-upload-cloud-2-line icon"></i>
                                                            <h3>Tải ảnh lên</h3>
                                                      </div>
                                                      <button class="select__image">Chọn ảnh</button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </form>
                        {{/with}}
                  </div>
            </div>
      </section>
      <script src='/js/src.js'></script>
</body>
</html>